<button {{action "launchTasks" taskName}} type="button" class="task-button">
    <p>{{inline-svg (concat "illustrations/" taskName) class="task-icon"}}</p>
    <h2>{{t (concat "content.tasks." taskName) }}</h2>
</button>
