<div class="d-flex flex-column align-items-center justify-content-center">
  <button {{action "toggleRec" device}} class="rec-button" type="button">
    {{#if recording}}
      <span>
        <FaIcon @icon="square" @size="4x"/>
      </span>
      {{t "content.record.stop-recording"}}
    {{else}}
      <span>
        <FaIcon @icon="circle" @size="4x"/>
      </span>
      {{t "content.record.start-recording"}}
    {{/if}}
  </button>
</div>
