<div class="d-flex flex-column align-items-center justify-content-center">
  <BsButton @type="dark button" @onClick={{action "toggleRec"}} @text={{if recording (t "content.record.stop_recording") (t "content.record.start_recording")}} >
    <span>
      <FaIcon
        @icon={{if recording "square" "circle"}}
        @size="4x"/>
    </span>
  </BsButton>
</div>
