<span class="badge mr-3">
    {{#if @beeps}}
      <FaIcon @icon="volume" @prefix="fas" class="ml-2"/>
    {{else}}
      <FaIcon @icon="volume-slash" @prefix="fas" class="ml-2"/>
    {{/if}}
</span>

