<span class="badge mr-3 {{stimulus}}">
  <span class="fa-layers mr-1">
    <FaIcon @icon="brain" />
    <FaIcon @icon="bolt" class="fa-inverse" @transform="shrink-4 right-1" />
  </span>
  {{name}} {{voltage}}
</span>
