
@import "variables";
@import "ember-bootstrap/bootstrap";
@import "components/menu";
@import "components/battery";
@import "components/rec";
@import "components/stimulus";

a {
  color: gray;
  &:hover {
    color: limegreen;
  }
}

.info-bar {
  @extend .d-flex;
  @extend .p-2;
  @extend .align-items-center;
  background-color: $info-bar-dark;
}

.bg-dark-mode {
  @extend .text-light;
  background-color: $bg-dark-mode;
  height: 100vh;
}
