@import "variables";
@import "ember-bootstrap/bootstrap";
@import "components/menu";
@import "components/battery";
@import "components/record";
@import "components/stimulus";
@import "components/content";
@import "components/settings";
@import "components/index";
@import "components/connected";

html {
  overflow-y: scroll;
  overflow-x: hidden;
}

.bg-dark-mode a {
  @extend .text-light;
  &:hover {
    color: limegreen;
  }
}

.bg-light-mode a {
  color: gray;
  &:hover {
    color: navy;
  }
}


.app {
  height: 100vh;
  .info-bar {
    @extend .d-flex;
    @extend .align-items-center;
    position: fixed;
    width: 100%;
    z-index: 1000;
  }
}

.bg-dark-mode {
  @extend .text-light;
  background-color: $bg-dark-mode;
  .info-bar {
    background-color: $info-bar-dark;
  }
}

.bg-light-mode {
  @extend .text-light;
  background-color: $bg-light-mode;
  .info-bar {
    background-color: $info-bar-light;
    @extend .text-dark;
  }
}

.quit {
  @extend .bg-danger;
  @extend .text-light;
  @extend .py-2;
  border: none;
}
