.greeting {
  font-size: $font-size-base * 6;
}

.bg-dark-mode {
  .status, .status span {
    @extend .bg-dark;
  }
}

.bg-light-mode {
  .status, .status span {
    @extend .bg-light;
  }
}

.status {
  @extend .badge;
  border-radius: 1rem;
  @extend .mt-4;
}

.status span {
  font-size: $font-size-base * 3 !important;
  border: none;
}
