.menu {
  @extend .d-flex;
  @extend .flex-column;
  @extend .justify-content-start;
  @extend .p-3;
  width: 100%;
  text-align: right;
  height: 100vh;
}

.bg-dark-mode {
  .menu  {
    @extend .bg-dark;
  }
  .heading {
    span {
      @extend .text-success;
    }
  }
}

.bg-light-mode {
  .menu {
    @extend .bg-light;
    @extend .text-dark;
  }
  .heading {
    span {
      @extend .text-primary;
    }
  }
}

.heading {
  @extend .p-5;
  @extend .w-100;
  @extend .d-flex;
  @extend .justify-content-center;
  @extend .flex-column;
  @extend .align-items-center;
  h1 {
    font-size: $font-size-base * 3;
  }
  span {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.nav {
  @extend .d-flex;
  @extend .flex-column;
  @extend .justify-content-end;
}

.nav-link {
  @extend .d-flex;
  @extend .justify-content-end;
  @extend .align-items-center;
  font-size: $font-size-base * 2;
}

.link-name {
  @extend .px-4;
}

.bg-dark-mode .active {
  background-color: $bg-dark-mode;
  color: lime;
}

.bg-light-mode .active {
  background-color: $bg-light-mode;
  color: blue;
}
