.menu {
  @extend .d-flex;
  @extend .flex-column;
  @extend .justify-content-end;
  width: 100%;
  text-align: right;
  height: 96vh;
}

.bg-dark-mode {
  .menu  {
    @extend .bg-dark;
  }
}

.bg-light-mode {
  .menu {
    @extend .bg-light;
    @extend .text-dark;
  }
}

.heading {
  @extend .p-5;
  h1 {
    font-size: $font-size-base * 5;
  }
  p {
    font-size: $font-size-base * 1.5;
  }
}

.nav {
  @extend .d-flex;
  @extend .flex-column;
  @extend .justify-content-end;
}

.nav-link {
  @extend .d-flex;
  @extend .justify-content-end;
  @extend .align-items-center;
  font-size: $font-size-base * 2;
}

.link-name {
  @extend .px-4;
}

.bg-dark-mode .active {
  background-color: $bg-dark-mode;
  color: lime;
}

.bg-light-mode .active {
  background-color: $bg-light-mode;
  color: blue;
}
