// Info Bar
.pulse {
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes pulse-dark {
  0% {
    color: orange;
  }
  50% {
    color: white;
    }
  100% {
    color: orange;
    }
}

@keyframes pulse-light {
  0% {
    color: $red;
  }
  50% {
    color: black;
    }
  100% {
    color: $red;
    }
}


.bg-dark-mode {
  .idle {
    @extend .text-light;
    background-color: $bg-dark-mode ;
  }
  .pulse {
    background-color: $bg-dark-mode;
    color: red;
    animation-name: pulse-dark;
  }
}

.bg-light-mode {
  .idle {
    @extend .text-dark;
    background-color: $bg-light-mode ;
  }
  .pulse {
    background-color: $bg-light-mode;
    color: red;
    animation-name: pulse-light;
  }
}

// Route Content
.bg-dark-mode {
  .content-item {
    @extend .bg-dark;
  }
}
.bg-light-mode {
  .content-item {
    @extend .bg-light;
  }
}
.content-item {
  @extend .py-5;
  @extend .px-3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
}

.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @extend .bg-white;
  color: $red;
  font-weight: bold;
  height: 10rem;
  width: 10rem;
  border-radius: 25%;
  &:hover {
    color: black;
  }
  span {
    padding-top: 1rem;
  }
}


.button-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  @extend .pt-5;
}

.timer {
  font-size: $font-size-base * 5;
}
