// Info Bar
.pulse {
  color: red;
  border: solid 1px;
  border-color: red;
  animation-name: pulse;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  background-color: white;
}

@keyframes pulse {
  0% {
    color: $red;
    border-color: $red;
  }
  50% {
    color: black;
    border-color: black;
    }
  100% {
    color: $red;
    border-color: $red;
    }
}
.idle {
  @extend .text-light;
  border: solid 1px gray;
}

// Route Content
.bg-dark-mode {
  .content-item {
    @extend .bg-dark;
  }
}
.bg-light-mode {
  .content-item {
    @extend .bg-light;
  }
}
.content-item {
  @extend .py-5;
  @extend .px-3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
}

.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @extend .bg-white;
  color: $red;
  font-weight: bold;
  height: 10rem;
  width: 10rem;
  @extend .rounded-circle;
  &:hover {
    color: black;
  }
  span {
    padding-top: 1rem;
  }
}


.button-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  @extend .pt-5;
}

.timer {
  font-size: $font-size-base * 5;
}
