// Info Bar
.pulse {
  color: red;
  border: solid 1px;
  border-color: red;
  animation-name: pulse;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes pulse {
  0% {
    color: $red-max;
    border-color: $red-max;
  }
  50% {
    color: $red-min;
    border-color: $red-min;
    }
  100% {
    color: $red-max;
    border-color: $red-max;
    }
}
.idle {
  color: gray;
  border: solid 1px gray;
}

// Route Content
.bg-dark-mode {
  .content-item {
    @extend .bg-dark;
  }
}
.bg-light-mode {
  .content-item {
    @extend .bg-light;
  }
}
.content-item {
  @extend .py-5;
  @extend .px-3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
}

.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @extend .p-1;
  @extend .rounded-circle;
  @extend .border;
  color: red;
  height: 5rem;
  width: 5rem;
}

.button-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  @extend .pt-5;
}

.timer {
  font-size: $font-size-base * 5;
}
