// Info Bar
.pulse {
  color: red;
  border: solid 1px;
  border-color: red;
  animation-name: pulse;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes pulse {
  0% {
    color: $red-max;
    border-color: $red-max;
  }
  50% {
    color: $red-min;
    border-color: $red-min;
    }
  100% {
    color: $red-max;
    border-color: $red-max;
    }
}
.idle {
  color: gray;
  border: solid 1px gray;
}

// Route Content

.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  @extend .p-3;
  border-radius: 2rem;
  p {
    @extend .pt-2;
    margin-bottom: auto;
  }
}

.button-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @extend .pt-5;
}

.timer {
  font-size: $font-size-base * 5;
}
