.stimulus_on {
  color: $success;
  font-size: $font-size-base * 0.8;
}

.stimulus_off {
  color: gray;
  font-size: $font-size-base * 0.8;
}

.fa-bolt {
  stroke-width: 30px;
  stroke: $info-bar-dark;
  color: $info-bar-dark;
}
