.stimulus {
  @extend .badge;
  font-size: $font-size-base * 0.8;
  background-color: $bg-light-mode;
  &.active {
    font-size: $font-size-base * 0.8;
    border: black;
  }
}

.fa-bolt {
  stroke-width: 30px;
  stroke: $info-bar-dark;
  color: $info-bar-dark;
}

.bg-dark-mode {
  .stimulus {
    background-color: $bg-dark-mode !important;
    @extend .text-light;
    &.active {
      color: $success !important;
    }
  }
}
