<body class="bg-dark-mode">
  <div class="info-bar">
    <div class="info-clock mr-auto">
      <Clock />
    </div>

    <div class="info-device d-flex">
      <Rec @active={{true}} />
      <Battery @value=0.5 />
    </div>

  </div>

  <div class="row">
    <div class="col-md-3">
      <Menu />
    </div>
    <div class="col-md-9">
      {{outlet}}
    </div>
  </div>
</body>
