<Content @name={{t "menus.application.record"}}>
  <hr>
  <h1 class="item-title">{{t "content.record.on_demand_recording"}}</h1>
  <div class="button-group">
    <RecButton />
    {{!-- <BsButton @type="secondary button">
      <span><FaIcon @icon="stop" @size="4x"/></span>
      <p>{{t "content.record.stop_recording"}}</p>
    </BsButton> --}}
  </div>
</Content>

{{outlet}}
