<Content @name="{{t "content.tasks.title"}}">
  <hr>
    <div class="tasks">
        <LaunchTask @taskName="beads" />
        <LaunchTask @taskName="msit" />
        <LaunchTask @taskName="resting" />
        {{#if settings.showProvocation}}
          <LaunchTask @taskName="provocation" />
        {{/if}}
    </div>

</Content>
{{outlet}}
